@{
    ViewData["Title"] = "About us";
}

<div class="container-md">

    <div class="container-sm pb-2">
        <h1 style="font-size: 36px; font-weight: bold; background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%); -webkit-background-clip: text; background-clip: text; color: transparent;">
            EmployeeConnect
        </h1>
    </div>

    
    <div class="container-sm pb-2">
    <p>
            EmployeeConnect is a .NET MVC application designed to streamline the management of employee records. It
            features functionalities to add new employees, update existing employee details, delete employee records, and
            display all employees. The user interface is crafted using Razor views, HTML, CSS, and JavaScript, ensuring a
            seamless and intuitive experience. The backend is built with the ASP.NET MVC framework, ensuring reliable data
            processing and business logic. EmployeeConnect connects to a SQL Server database to efficiently handle CRUD
            (Create, Read, Update, Delete) operations. This application enhances administrative productivity and ensures
            accurate and organized employee data management within an organization.
    </p>
    </div>
</div>

